extends layout

include mixins/_bitCard

block content
  .inner
    div.flex-container-column.align-items-center.txt-light-green
      h1= title
      div.big-font.spaced.spaced-bottom.spaced-lg Wrabbit is a site encouraging daily writing habits.
    .card-wrapper.flex-container-row.justify-space-between.flex-wrap.spaced.spaced-top.spaced-lg
      each bit in bits
        +bitCard(bit)
