doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='shortcut icon', href='/images/icons/wrabbit-icon.ico')
    link(rel='stylesheet', href='/dist/fonts.css')
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    
    include navigation

    block messages
      if locals.flashes
        .flash-messages.pad.pad-right.pad-left.pad-lg
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flex-container-row flash--${category}`)
                p.flash__text!= message
    .content
      block content
    
    block scripts
      script(src="/dist/App.bundle.js")
