nav.flex-container-row.justify-space-between.font-bold
  ul.flex-container-row
    li.flex-container-row.align-items-center.justify-center 
      a(class="icon logo flex-container-row justify-center align-items-center spaced spaced-right spaced-sm" href=`/`)
        != h.icon('wrabbit-icon-white')
      if user
        a(href="/write" alt="Latest Bits") Write Bit
    if user
      li.flex-container-row.align-items-center.justify-center
        a(href="/sprint" alt="Word sprint") Word Sprint
  if user
    ul.flex-container-row
      ul.flex-container-row
        li.flex-container-row.align-items-center.justify-center
          a(href=`/author/${user.slug}`)= user.name
        li.flex-container-row.align-items-center.justify-center
          a(href="/logout" alt="Log out") Log out
  else
    ul.flex-container-row
      li.flex-container-row.align-items-center.justify-center
        a(href="/register" alt="Register") Register
      li.flex-container-row.align-items-center.justify-center
        a(href="/login" alt="Login") Login
