extends layout

include mixins/_bitCard

block content
  .inner
    div.flex-container-column.align-items-center.txt-light-green
      h1= title
    div.big-font.spaced.spaced-bottom.spaced-lg.txt-light-green These bits are visible only to you.
    .card-wrapper.masonry
      each bit in onlyMeBits
        +bitCard(bit, user)
    div.big-font.spaced.spaced-bottom.spaced-lg.txt-light-green These bits are visible to users you Trust.
    .card-wrapper.masonry
      each bit in trustedUserBits
        +bitCard(bit, user)
    div.big-font.spaced.spaced-bottom.spaced-lg.txt-light-green These bits are visible to the world!
    .card-wrapper.masonry
      each bit in publicBits
        +bitCard(bit, user)
