extends layout

include mixins/_sprintModeCard

block content
  h1.flex-container-row.justify-center= title
  .card-wrapper.flex-container-row.justify-space-around.flex-wrap
    +sprintModeCard("timed")
    +sprintModeCard("length")
