extends layout

include mixins/_bitForm
include mixins/_prompt

block content
  .inner
    h1.flex-container-row.justify-center.txt-light-green= title
    //- pre= h.dump(res)
    +bitForm(bit)
    div.flex-container-row.justify-center
      .card-wrapper.card.card-full.flex-container-column.justify-space-around.flex-wrap.align-items-center
        +prompt()
    
