mixin bitForm(bit = {})
  .card-wrapper.card.card-full.flex-container-row.justify-center.flex-wrap
    .bit.card
      form(id="bit" action=`/write/${bit._id || ''}` autocomplete="off" method="POST" class="card card-full justify-center")
        div.flex-container-column.align-items-center
          textarea(id="bit-title" name="name" class="txt-center title" placeholder="Write your title here" value=bit.name)
        div.flex-container-column.align-items-center.spaced.spaced-top.spaced-md
          textarea(id="bit-content" name="content" class="txt-center" placeholder="Write your bit here.")= bit.content
        div.flex-container-column.align-items-center.spaced.spaced-top.spaced-lg
          input(type="submit" value="Save" class="button" )
  div.flex-container-row.justify-center
    .card-wrapper.card.flex-container-row.justify-center.flex-wrap
      button#prompt Block? Get prompted!
      div#prompt-text.spaced.spaced-top.spaced-lg.txt-center
