mixin bitForm(bit = {}, options = { submit: ''})
  .card-wrapper.card.card-full.flex-container-row.justify-center.flex-wrap
    .bit.card.card-full
      form(id="bit" action=`/write/${bit._id || ''}` autocomplete="off" onsubmit="this.disabled = true" onclick="this.disabled = true" method="POST" class="card card-full justify-center")
        div.flex-container-column.align-items-center
          textarea(id="bit-title" name="name" class="txt-center title" placeholder="Write your title here" value=bit.name)= bit.name
        div.flex-container-column.align-items-center.spaced.spaced-top.spaced-md
          textarea(id="bit-content" class=`${options.content}` name="content" placeholder="Write your bit here.")= bit.content
        div
          textarea.hidden(id="prompt-submit" name="prompt")
        div.flex-container-column.align-items-center.spaced.spaced-top.spaced-lg
          button(type="submit" value="Save" class=`button ${options.submit}` ) Save
  div.flex-container-row.justify-center
    .card-wrapper.card.card-half.flex-container-row.justify-center.flex-wrap
      button#prompt Blocked? Get prompted!
      div#prompt-text.spaced.spaced-top.spaced-lg.txt-center
