include _privacy
include _editIcons

mixin bitForm(bit = {}, options = { submit: ''}, action = '')
  .card-wrapper.card.card-full.flex-container-row.justify-center.flex-wrap.shaded
    if bit.privacy
      +editIcons(bit)
    .bit.card-full
      form(id="bit" action=`${action}` autocomplete="off" onsubmit="this.disabled = true" onclick="this.disabled = true" method="POST" class="card-full justify-center")
        div.flex-container-column.align-items-center
          textarea(id="bit-title" name="name" class="txt-center title" placeholder="Write your title here" value=bit.name)= bit.name
        div.flex-container-column.align-items-center.spaced.spaced-top.spaced-md
          textarea(id="bit-content" class=`${options.content}` name="content" placeholder="Write your bit here.")= bit.content
        div
          textarea.hidden(id="prompt-submit" name="prompt")
        div.flex-container-column.align-items-center.spaced.spaced-top.spaced-lg
          button(type="submit" value="Save" class=`button ${options.submit}` ) Save
