mixin loginForm()
  .bit.card.shaded.flex-container-row.align-self-center
    form.form(action="/login" method="POST")
      div.flex-container-row.justify-space-between.spaced.spaced-bottom.spaced-lg
        label(class="flex-container-column justify-center spaced spaced-right spaced-lg" for="email") Email address
        input(type="email" name="email")
      div.flex-container-row.justify-space-between.spaced.spaced-bottom.spaced-lg
        label(class="flex-container-column justify-center" for="password") Password
        input(type="password" name="password")
      div.flex-container-row.justify-center
        input.button(type="submit" value="Login")
