button, .button {
  font-size: 20px;
  font-family: $primary-font;
  color: $alice-blue;
  padding: 15px;
  background: $ocean-blue;
  border: 0;
  border-radius: 5px;
  outline: 0;
  line-height: 6px;
  cursor: pointer;

  &:hover {
    background: $cerulean-frost;
  }

  &.light {
    background: $cerulean-frost;
  }

  &.small {
    height: calc(100% - 10px);
  }
}

.icon svg {
  width: 20px;
}
