.card {
  position: relative;
  padding: 20px;
  margin-bottom: 40px;
  width: calc(33.33333333% - 20px);
  line-height: 25px;
  font-size: 20px;
  background: $lightest-green;
  align-self: flex-start;

  @media (max-width: 700px) {
    width: 100%;
  }

  &.shaded {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &.gradient {
    background: linear-gradient(to bottom, $lightest-green 80%, $dark-green 120%);
  }

  &-full {
    width: 100%;
  }

  &-half {
    width: 50%;
  }
}

.card-wrapper {
  .card:nth-last-child(1) {
    align-self: flex-start;
  }
}
