body {
  font-family: $secondary-font, sans-serif;
  background: $cerulean-frost;
}

.inner {
  padding: 0 20px;
}

.hidden {
  display: none;

  &-mobile {
    @media (max-width: 700px) {
      display: none;
    }
  }
}

.flash-messages {
  background: $maize;
  font-family: $secondary-font;
  font-size: 18px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.dropdown {
  left: 10px;
  top: 100%;
  z-index: 1;
}
