nav {
  background: $ocean-blue;

  a {
    color: $alice-blue;

    &:visited {
      color: $alice-blue;

      &:hover {
        color: $maize;
      }
    }

    &:hover {
      color: $maize;
    }
  }

  li {
    width: 100px;
    list-style-type: none;
    text-align: center;
  }
}
