body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $primary-font;
  line-height: 1.3em;
}

h2 {
  font-size: 1.2em;
  line-height: 1.5em;
}

h3 {
  font-size: 1em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $eerie-black;

  &:visited {
    color: $eerie-black;
  }

  &:hover {
    color: $ocean-blue;
  }
}

* {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding:10px;
  outline: 0;
}

ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form {
  width: 100%;
}

input,
textarea {
  outline: 0;
  overflow:hidden;
  font-size: 22px;
  height: 40px;
  border: 0;
  font-family: $secondary-font, sans-serif;

  &[name=name],
  &[name=content] {
    background: $alice-blue;
    resize: none;
  }

  &[name=email],
  &[name=password] {
    font-size: 16px;
    padding: 10px;
    width: 250px;
  }

  &.title {
    font-family: $primary-font, serif;
  }
}
