$spaced-lg: 20px;
$spaced-md: 15px;
$spaced-sm: 10px;
$spaced-xs: 5px;

.no-mobile-side-margin {

  @media (max-width: 700px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.spaced {

  &.spaced-top {

    &.spaced-lg {
      margin-top: $spaced-lg;
    }

    &.spaced-md {
      margin-top: $spaced-md;
    }

    &.spaced-sm {
      margin-top: $spaced-sm;
    }
  }

  &.spaced-bottom {

    &.spaced-lg {
      margin-bottom: $spaced-lg;
    }

    &.spaced-md {
      margin-bottom: $spaced-md;
    }

    &.spaced-sm {
      margin-bottom: $spaced-sm;
    }
  }

  &.spaced-right {

    &.spaced-lg {
      margin-right: $spaced-lg;
    }

    &.spaced-md {
      margin-right: $spaced-md;
    }

    &.spaced-sm {
      margin-right: $spaced-sm;
    }
  }

  &.spaced-left {

    &.spaced-lg {
      margin-left: $spaced-lg;
    }

    &.spaced-md {
      margin-left: $spaced-md;
    }

    &.spaced-sm {
      margin-left: $spaced-sm;
    }
  }
}

.pad {

  &.pad-top {

    &.pad-lg {
      padding-top: $spaced-lg;
    }

    &.pad-md {
      padding-top: $spaced-md;
    }

    &.pad-sm {
      padding-top: $spaced-sm;
    }

    &.pad-xs {
      padding-top: $spaced-xs;
    }
  }

  &.pad-bottom {

    &.pad-lg {
      padding-bottom: $spaced-lg;
    }

    &.pad-md {
      padding-bottom: $spaced-md;
    }

    &.pad-sm {
      padding-bottom: $spaced-sm;
    }

    &.pad-xs {
      padding-bottom: $spaced-xs;
    }
  }

  &.pad-left {

    &.pad-lg {
      padding-left: $spaced-lg;
    }

    &.pad-md {
      padding-left: $spaced-md;
    }

    &.pad-sm {
      padding-left: $spaced-sm;
    }

    &.pad-xs {
      padding-left: $spaced-xs;
    }
  }

  &.pad-right {

    &.pad-lg {
      padding-right: $spaced-lg;
    }

    &.pad-md {
      padding-right: $spaced-md;
    }

    &.pad-sm {
      padding-right: $spaced-sm;
    }

    &.pad-xs {
      padding-right: $spaced-xs;
    }
  }
}
