/* Coolors Exported Palette - coolors.co/11270b-71b340-e3edd9-598b2c-a6b494 */

/* HSL */
$dark-green: #4f4f4c;
$accent-green: #b6c683;
$lightest-green: hsla(90%, 36%, 89%, 1);
$green: hsla(92%, 52%, 36%, 1);
$muted-green: hsla(86%, 18%, 64%, 1);
