/* Coolors Exported Palette - coolors.co/11270b-71b340-e3edd9-598b2c-a6b494 */

/* HSL */
$dark-green: #4f4f4c;
$accent-green: #b6c683;
$lightest-green: hsla(90%, 36%, 89%, 1);
$green: hsla(92%, 52%, 36%, 1);
$muted-green: hsla(86%, 18%, 64%, 1);

$ocean-blue: rgba(75, 73, 198, 1);
$alice-blue: rgba(239, 245, 252, 1);
$cerulean-frost: rgba(109, 157, 197, 1);
$maize: rgba(255, 236, 94, 1);
$eerie-black: rgba(12, 21, 25, 1);

$primary-font: "Playfair Display";
$secondary-font: "Source Sans Pro";
