extends ../layout

include ../mixins/_button
include ../mixins/_wordCounter
include ../mixins/_bitForm
include ../mixins/_prompt
include ../mixins/_existingBit

block content
  .inner
    h1.txt-center.txt-light-green= title
    h2.txt-center.txt-light-green Choose a length, start writing. We'll save as soon as you hit your sprint goal.
  .inner
    .card-wrapper.flex-container-row.flex-wrap.justify-space-between
      div#length.bit.card.card-wrapper.flex-container-row.justify-center.flex-wrap.spaced.spaced-right.spaced-lg.no-mobile-side-margin
        .bit.flex-container-row.justify-center.flex-wrap
          ol.flex-container-column.align-items-center
            li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm Pick a length
            li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm
              +button('100', 'words', 'length-sprint')
            li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm
              +button('300', 'words', 'length-sprint')
            li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm 
              +button('500', 'words', 'length-sprint')
            li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm
              +button('1000', 'words', 'length-sprint')
        //-.bit.card.card-wrapper.flex-container-row.justify-center.flex-wrap
          +wordCounter()
      div.bit.flex-fill
        div.flex-container-column.justify-center
          //- TODO from will need to be modified to work perfectly with a sprint
          +bitForm({}, { content: 'hidden', submit: 'hidden' })
        div.flex-container-row.justify-center
          .card-wrapper.card.card-full.flex-container-row.justify-space-around.flex-wrap.align-items-center
            +existingBit(user)
            +prompt()
