extends ../layout

include ../mixins/_button
include ../mixins/_clock
include ../mixins/_bitForm

block content
  .inner
    h1.txt-center.txt-light-green= title
    h2.txt-center.txt-light-green Choose a time. start writing. 
    h2.txt-center.txt-light-green We'll notify you when the time is up. You'll have 15 seconds to wrap it up before we save it for you.
  .inner.flex-container-row.justify-space-around
    .bit.card.card-wrapper.flex-container-row.justify-center.flex-wrap.align-self-center
      +clock()
  .inner
    .card-wrapper.flex-container-row.flex-wrap
      div#timed.bit.card.shaded.card-wrapper.flex-container-row.justify-center.flex-wrap.spaced.spaced-right.spaced-lg
        ol.flex-container-column.align-items-center
          li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm Pick a time
          li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm 
            +button('1', 'minute', 'timed-sprint')
          li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm
            +button('3', 'minutes', 'timed-sprint')
          li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm
            +button('5', 'minutes', 'timed-sprint')
          li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm
            +button('10', 'minutes', 'timed-sprint')
      .bit.shaded.flex-fill.spaced.spaced-right.spaced-lg
        div.flex-container-column.justify-center
          //- TODO from will need to be modified to work perfectly with a sprint
          +bitForm({}, { content: 'hidden', submit: 'hidden' })
