extends ../layout

include ../mixins/_button
include ../mixins/_clock
include ../mixins/_bitForm

block content
  .inner
    h1.txt-center.txt-light-green= title
    div.txt-light-green.txt-center.big-font.spaced.spaced-bottom.spaced-lg Choose a genre and title before selecting a time.
  .inner.flex-container-row.justify-space-around
    div#timed.bit.card.card-wrapper.flex-container-row.justify-center.flex-wrap
      ol.flex-container-column.align-items-center
        li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm Pick a time
        li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm 
          +button('1', 'minute', 'timed-sprint')
        li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm
          +button('5', 'minutes', 'timed-sprint')
        li.flex-container-row.justify-center.spaced.spaced-bottom.spaced-sm
          +button('10', 'minutes', 'timed-sprint')
    .bit.card.card-wrapper.flex-container-row.justify-center.flex-wrap.align-self-center
      +clock()
  .inner
    .card-wrapper.card-full.flex-container-row.justify-space-between.flex-wrap
      .bit.card.card-full.shaded.spaced.spaced-top.spaced-lg
        div.flex-container-column.justify-center
          //- TODO from will need to be modified to work perfectly with a sprint
          +bitForm()
